body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-section {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.stock-section,
.metadata-section {
  flex: 0 0 24%;
}

.candle-section {
  flex: 0 0 50%;
}

h1,
h2,
h3 {
  color: #0066cc;
}

h1 {
  margin-left: 25px;
}

p {
  line-height: 1.5;
}

canvas {
  width: 100%;
  height: auto;
}

.metadata-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 15px;
  margin-right: 10px;
  border-radius: 5px;
  flex-grow: 1;
}

.metadata-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.metadata-list {
  list-style-type: none;
  padding: 15px; /* Etwas Padding hinzugefügt für den Abstand zwischen Rand und LI-Elementen */
  margin: 0 0 20px 0; /* Untermargin hinzugefügt für den Abstand zwischen den UL-Elementen */
  background-color: #e0e0e0; /* Dunklere Hintergrundfarbe für UL */
  border-radius: 5px; /* Optional: Ecken abrunden für das UL-Element */

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.metadata-list li {
  background-color: #f0f0f0; /* Hellere Hintergrundfarbe für LI */
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px; /* Ecken abrunden für das LI-Element */
}
