body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Allgemeiner Container-Stil */
.container,
.headlines-container {
  display: flex;
  justify-content: space-between; /* Gleichmäßige Verteilung des verfügbaren Platzes */
  width: 100%; /* Volle Breite */
}

.headline,
.container-section {
  margin: 0; /* Entfernt den Standard-Margin */
  padding: 20px; /* Einheitliches Padding */
  text-align: center; /* Zentriert den Text */
  background-color: #fff; /* Einheitliche Hintergrundfarbe */
  border-radius: 5px; /* Einheitliche Ecken */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Einheitlicher Schatten */
  box-sizing: border-box; /* Einheitliche Box-Größe */
}

/* Spezifische Anpassungen für .headline- Klassen */
.headline-finanzinstrumente {
  flex: 0 0 20%; /* 20% der Container-Breite */
  background-color: #f0f0f0;
}

.headline-metadaten {
  flex: 0 0 30%; /* 30% der Container-Breite */
  background-color: #e0e0e0;
}

.headline-candle-chart {
  flex: 0 0 50%; /* 50% der Container-Breite */
  background-color: #d0d0d0;
}

/* Einheitliche Flex-Einstellungen für .container-section */
.stock-section,
.metadata-section,
.candle-section {
  flex: 0 0 20%; /* 20% für Stock */
  /* Anpassung für Metadaten und Candle Chart unten */
}

.metadata-section {
  flex: 0 0 30%; /* 30% für Metadaten */
}

.candle-section {
  flex: 0 0 50%; /* 50% für Candle Chart */
}

h1,
h2,
h3 {
  color: #0066cc;
}

h1 {
  margin-left: 25px; /* Beibehalten der spezifischen Einstellung für h1 */
}

p {
  line-height: 1.5;
}

canvas {
  width: 100%;
  height: auto;
}

.metadata-item,
.exchange-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 15px;
  margin-right: 10px;
  border-radius: 5px;
  flex-grow: 1;
}

.metadata-container,
.exchange-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.metadata-list,
.exchange-list {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  background-color: #e0e0e0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.metadata-list li,
.exchange-list li {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}
